# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: lint2

on: pull_request

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.base.ref }}
    - uses: actions/checkout@v2
      with:
        ref: ${{ github.event.pull_request.head.ref }}
    - name: Set up Python 3.9
      uses: actions/setup-python@v1
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip flake8
    - name: Lint with flake8
      run: |
        git branch
        echo git diff --name-only $GITHUB_BASE_REF...$GITHUB_HEAD_REF
        git diff --name-only $GITHUB_BASE_REF...$GITHUB_HEAD_REF
        flake8 . --count --max-complexity=10 --max-doc-length=120 --max-line-length=120 --statistics
